.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 32px;
}

.screen-header__alert {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  margin-left: 25px;
  position: absolute;
  top: 40px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
